.spazio {
    padding-right: 50px;
}

.spazio2 {
    padding-right: 63px;
}

.spazio3 {
    padding-right: 64px;
}

.spazio4 {
    padding-right: 115px;
}

.spazio5 {
    padding-right: 102px;
}

.spazio6 {
    padding-right: 50px;
}

.spazio7 {
    padding-right: 33px;
}

.spazio8 {
    padding-right: 300px;
}

.spazio9 {
    padding-right: 30px;
}

.hidden {
    font-size: small;
    color: gray;
    padding-left: 120px;
}