.spazio {
    padding-right: 50px;
}

.spazio2 {
    padding-right: 63px;
}

.spazio3 {
    padding-right: 64px;
}

.spazio4 {
    padding-right: 115px;
}

.spazio5 {
    padding-right: 102px;
}

.spazio6 {
    padding-right: 50px;
}

.spazio7 {
    padding-right: 33px;
}

.spazio8 {
    padding-right: 300px;
}

.spazio9 {
    padding-right: 30px;
}

.spazio10 {
    padding-right: 68px;
}

.spazio11 {
    padding-right: 95px;
}

.spazio12 {
    padding-right: 72px;
}

.spazio13 {
    padding-right: 49px;
}

.hidden {
    font-size: small;
    color: gray;
    padding-left: 120px;
}

.title {
    background: pink;
    padding: 3px;
    margin: -8px;
}

.box1 {
    outline-style: outset;
    outline: ridge thick pink;
    padding: 10px;
    width: max-content;
}

.HelloKitty {
    position: absolute;      
    top: 150px;         
    right: 0;
    margin: 0;            
    padding: 0;
}